
.contact-message{
	color: black;
}

.make-center{
    box-sizing: border-box;
}
/*doesnt work*/
hr{
  border-top: 1px solid gray;
}

.form-group.required{
	color: red;
}

/*RECORD VIEW FILE*/
.top-buffer { margin-top:20px; }